<div class="col-sm-12">
  <p id="notice"><%= notice %></p>
  <div id="main" role="main">
    <table id="pins" class="table">
      <tbody id="wookmark_id" class="page">
      <%= render @pins %>
      </tbody>
    </table>

  </div>

  <%= paginate @pins %>
  <%= link_to 'New Pin', new_pin_path, class: 'btn btn-default center-block' %>
</div>
