<div class="col-sm-12">
  <p id="notice"><%= notice %></p>
  <div id="main" role="main">
    <table id="pins" class="table">
      <tbody id="wookmark_id" class="page">
      <%= render @pins %>
      </tbody>
    </table>

  </div>
  <%= paginate @pins %>
  <%= link_to 'New Pin', new_pin_path, class: 'btn btn-default center-block' %>
</div>

<script>
  $(function(){
      var $handler = $('#wookmark_id td');
      $handler.wookmark({
          container: $('#main'),
          offset: 5,
          outerOffset: 10,
          resizeDelay: 50,
          itemWidth: 260,
          flexibleWidth: 0
      });

      $handler.click(function () {
          var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
          $(this).css('height', newHeight + 'px');

          // Update the layout.
          $handler.wookmark();
      });
  });
</script>
