@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100);

body {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.panel, .thumbnail, .well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.no-hr-padding {
  padding-left: 0;
  padding-right: 0;
}