@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100);

body {
  font-family: 'Alegreya Sans SC', sans-serif;
  background: #111;
  color: #ddd;
}

.input-group-addon, .navbar, .panel, .thumbnail, .well, .navbar-inner, .popover, .btn, .tooltip,
input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered,
.nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.no-hr-padding {
  padding-left: 0;
  padding-right: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mt100 {
  margin-top: 100px;
}


input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select {
  background: #2f2f2f;
  border: 0;
  color: #fff;
}

.form-control {
  background: #2f2f2f;
  border: 0;
  color: #fff;
  &::-moz-placeholder {
    color: #7a7a7a;
  }
}
