.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border: 0;
}

.thumbnail {
  background: #1d1d1d;
  color: #fff;
  display: inline-block;
  width: 250px;
  margin-bottom: 10px;
  border: 0;
  padding: 0 0 10px;
  img {
    width: 100%;
    overflow: hidden;
  }
  .label.label-default {
    background: none;
    padding: 0;
    a {
      color: #797979;
    }
  }
  .caption {
    color: #fff;
  }
}

.pin-info {
  background: rgba(0, 0, 0, 0.9);
  .pin-details {
    display: block;
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
  }
}

.sign-in-form {
  .input-group {
    margin-bottom: 5px;
    font-family: OpenSans, arial, helvetica, sans-serif;

    .input-group-addon {
      border: 0;
      background: #333;
      color: #fff;
    }
  }
}

.pins-container {
  min-height: 500px;
}

.footer {
  margin-top: 20px;
}

#notice {
  text-align: center;
}